####Database Applications
1.	Write a database program to perform the following
•	 Show all databases in the DBMS.

•	 Create a Database named "Company".

•	Create a table Employee in Company Database(empid int,empname varchar(50), designation varchar(50),basic int)

•	Insert 10 records into employee table
	
•	Display all records of employee table
•	Display the employees details with designation as entered by the user at runtime
•	Display the employee details with basic<20000
•	Update the basic of Manager by 30%

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 3.9 MB/s eta 0:00:00
Collecting protobuf>=3.0.0
  Downloading protobuf-3.20.0-cp310-cp310-win_amd64.whl (903 kB)
     -------------------------------------- 903.8/903.8 KB 6.4 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.28 protobuf-3.20.0
Note: you may need to restart the kernel to use updated packages.

In [72]:
import mysql.connector
con=mysql.connector.connect(host="localhost",
database="mysql",
user="root",password="")

In [74]:
con=mysql.connector.connect(host='localhost',database="COMPANY",user='root',password='')
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023AEE6BDC30>

In [75]:
mycur = con.cursor()

In [ ]:
mycur.execute("CREATE DATABASE COMPANY")

In [56]:
mycur.execute("SHOW DATABASES")
for i in mycur:
    print(i)

('company',)
('dbemp',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [46]:
mycur.execute('DROP TABLE EMPLOYEE')

In [47]:
mycur.execute("CREATE TABLE EMPLOYEE(EMPID INT,EMPNAME VARCHAR(50), DESIGNATION VARCHAR(50),BASIC INT)")

In [12]:
rec = "INSERT INTO EMPLOYEE(EMPID,EMPNAME,DESIGNATION,BASIC)VALUES(%s,%s,%s,%s)" 
values = [(111,"Adrian","Manager",50000),(112,"Bob","CSCP",30000),\    
(113,"Alex","CIM",60000),(114,"Ana","CIP",29000),(115,"Julian","CCC",55000),\
(116,"Phil","CFA",35000),(117,"Jones","CPA",40000),(118,"Ishaan","CHRL",45000),\
(119,"Aditi","PMP",60000),(120,"Naina","RP",65000)]
mycur.executemany(rec,values)
con.commit()

In [57]:
mycur.execute("SELECT * FROM EMPLOYEE")
result = mycur.fetchall()
for x in result:
    print(x)

(111, 'Adrian', 'Manager', 55000)
(112, 'Bob', 'CSCP', 30000)
(113, 'Alex', 'CIM', 60000)
(114, 'Ana', 'CIP', 29000)
(115, 'Julian', 'CCC', 55000)
(116, 'Phil', 'CFA', 35000)
(117, 'Jones', 'CPA', 40000)
(118, 'Ishaan', 'CHRL', 45000)
(119, 'Aditi', 'PMP', 60000)
(120, 'Naina', 'RP', 65000)

In [5]:
query="SELECT * FROM EMPLOYEE WHERE DESIGNATION=%s"
dsgninput=str(input("Enter Designation"))
dsgn=(dsgninput,)
mycur.execute(query,dsgn)
x=mycur.fetchall()
for i in x:
    print(i)

(111, 'Adrian', 'Manager', 50000)

In [81]:
query="SELECT * FROM EMPLOYEE WHERE EMPNAME=%s"
empname=str(input("Enter Name"))
emp=(empname,)
mycur.execute(query,emp)
x=mycur.fetchall()
for i in x:
    print(i)

(113, 'Alex', 'CIM', 60000)

In [6]:
basic="SELECT * FROM EMPLOYEE WHERE BASIC<35000"
mycur.execute(basic)
x=mycur.fetchall()
for i in x:
    print(i)

(112, 'Bob', 'CSCP', 30000)
(114, 'Ana', 'CIP', 29000)

In [8]:
Update="UPDATE EMPLOYEE SET BASIC = BASIC*.1+BASIC WHERE DESIGNATION='MANAGER'"
mycur.execute(Update)
con.commit()

In [6]:
mycur.execute("UPDATE EMPLOYEE SET BASIC = 50000 WHERE DESIGNATION='MANAGER'")

In [ ]:
mycur.close()
con.close()

In [7]:
con.commit()

In [58]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",database="dbemp",user="root",password="")

In [59]:
mycursor= mydb.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE dbemp")

In [45]:
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

('company',)
('dbemp',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [33]:

mycursor.execute("CREATE TABLE EMPLOYEE(EMPID INT,EMPNAME VARCHAR(50), EMP_SAL INT)")

In [38]:
sql= "INSERT INTO EMPLOYEE(EMP_SAL)VALUES(%s)"
val=[(1110000)]
mycursor.execute(sql,val)
mydb.commit()

In [62]:
mycursor.execute("SELECT * FROM EMPLOYEE")
result = mycursor.fetchall()
for i in result:
    print (i)

(111, None, None)
(None, None, 1110000)

In [69]:
mycur.execute("UPDATE EMPLOYEE SET EMPNAME = 'SAAD ' WHERE EMPID=111")

In [70]:
con.commit()